<%- include("./partials/header") %>
  <%- include("./partials/nav") %>

    <div class="flex justify-center items-center flex-col">
      <h1
        class="bg-red-200 text-center text-[2vw] text-red-600 font-[900] w-[40%] rounded-[10px] margin-auto py-[1vw] mt-5">
        User Profile</h1>
      <div class="flex flex-wrap">
        <% if (posts && posts.length> 0) { %>
          <% posts.forEach((post)=> { %>
            <div class="card w-[23%] mr-5 mb-5">
              <div class="flex items-center mb-2">
                <% if (post.user) { %>
                  <img class="w-[7vh] h-[7vh] rounded-full object-cover" src="/images/<%= post.user.profilepic %>"
                    alt="">
                  <div class="ml-3">
                    <h1 class="text-xl font-bold">
                      <%= post.user.name %>
                    </h1>
                    <small class="text-zinc-600">
                      <%= post.createdAt.toLocaleTimeString() %> | <%= post.createdAt.toLocaleDateString() %>
                    </small>
                  </div>
                  <% } else { %>
                    <img class="w-[7vh] h-[7vh] rounded-full object-cover" src="/images/default.png" alt="">
                    <div class="ml-3">
                      <h1 class="text-xl font-bold">Unknown User</h1>
                      <small class="text-zinc-600">
                        <%= post.createdAt.toLocaleTimeString() %> | <%= post.createdAt.toLocaleDateString() %>
                      </small>
                    </div>
                    <% } %>
              </div>
              <img class="w-[30vw] h-[40vh] object-cover-center" src="/images/<%= post.media %>" alt="">
              <div>
                <span class="text-md mr-2">
                  <%= post.likes.length%>
                </span>
                <a href="/likes/<%=post._id%>">

                  <% if(post.likes.includes(user._id)) { %>

                    <i class="text-red-300 ri-heart-3-fill"></i>

                    <% } else { %>
                      <i class="ri-heart-3-line"></i>

                      <% } %>
                </a>
                <i class="ri-wechat-2-line"></i>
              </div>
             
            </div>
            <% }) %>

              <% } else { %>
                <p>No posts found</p>
                <% } %>
      </div>
      <div class="flex align-bottom h-[100%]">
        <div class="m-auto justify-between items-center flex w-[20vw] p-3 bg-green-400 rounded">
          <i class="ri-search-line text-4xl"></i>
          <a href="/postcreate"><i class="ri-add-line text-4xl"></i></a>
          <a href="/userupdate/<%= user._id %>">
            <img class="h-[1.8vw] rounded-full" src="/images/default.png" alt="">
          </a>
        </div>
      </div>
    </div>

    <%- include("./partials/footer") %>